<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomSongsConfig" type="MetalManager.ConfigDataDaddy.Configuration.CustomSongsConfig, MetalManager" />
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="gameDirectory" value=""/>
    <add key="modDirectory" value=""/>
  </appSettings>

  <CustomSongsConfig>
    <Customsongs>
      <add name="Du Hast" path="S:\MODS\Du Hast" lwt="Dr." lvt="Mario" />
      <add name="Dig" path="S:\MODS\Dig" lwt="Princess" lvt="Peach" />
      <add name="Bodies" path="S:\MODS\Bodies" lwt="Captain" lvt="Toad" />
      <add name="Prey For Me" path="S:\MODS\Prey For Me" lwt="Wal" lvt="Luigi" />
    </Customsongs>
  </CustomSongsConfig>
  
</configuration>